html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    title= title
  body
    div(class='container mt-5')
        div(class='row mb-5')
            div(class='col justify-content-center text-center')
                h2="The results are:  " + results.number + " " + results.var
                h6="For this energy, you could have done:"
        div(class="row row-cols-3")
            div(class='col')
                div(class='card' style='width: 200px')
                    div(class='card-body')
                        i(class="fa fa-car")
                        h5(class='card-title')="20 minutes of microwave"
                        h6(class='card-subtitle')="At 700 watts"    
                        p(class='card-text')="Some information about a microwave"
            div(class='col')
                div(class='card' style='width: 200px')
                    div(class='card-body')
                        i(class="fa-solid fa-car-battery")
                        h5(class='card-title')="20 minutes of microwave"
                        h6(class='card-subtitle')="At 700 watts"    
                        p(class='card-text')="Some information about a microwave"
            div(class='col')
                div(class='card' style='width: 200px')
                    div(class='card-body')
                        i(class="fa-solid fa-car-battery")
                        h5(class='card-title')="20 minutes of microwave"
                        h6(class='card-subtitle')="At 700 watts"    
                        p(class='card-text')="Some information about a microwave"
            div(class='col mb-5')
                div(class='card' style='width: 200px')
                    div(class='card-body')
                        i(class="fa-solid fa-car-battery")
                        h5(class='card-title')="20 minutes of microwave"
                        h6(class='card-subtitle')="At 700 watts"    
                        p(class='card-text')="Some information about a microwave"
            div(class='col')
                div(class='card' style='width: 200px')
                    div(class='card-body')
                        i(class="fa-solid fa-car-battery")
                        h5(class='card-title')="20 minutes of microwave"
                        h6(class='card-subtitle')="At 700 watts"    
                        p(class='card-text')="Some information about a microwave"

    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js")